In [9]:
import numpy as np  
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df1= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombreCodeNatalidad ES')

df2= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombresCode ES')

df3= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombresBanderaCode EN')

df4= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombreCodeGDP')

print ('Data read into a pandas dataframes!')

Data read into a pandas dataframes!

In [11]:
df1.head()

,Country Name,Country Code,Indicator Code,1985,1986,1987,1988,1989,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,SP.DYN.CBRT.IN,20919,20617,20269,19821,19184,18662,17722,...,12723,13316,13533,12428,2024-03-12 00:00:00,11.53,9881,9138,8102,7193
1,Afganistán,AFG,SP.DYN.CBRT.IN,50553,50728,50845,50.98,51162,51423,51788,...,40009,39601,39105,38803,37936,37342,36927,36466,36051,35842
2,Angola,AGO,SP.DYN.CBRT.IN,52136,52.19,52146,51973,51699,51344,50926,...,43.86,43282,42676,42.02,41377,40.81,40236,39725,39271,38809
3,Albania,ALB,SP.DYN.CBRT.IN,26297,25935,25685,25364,24.86,24415,23723,...,12227,12279,12.15,11718,11289,10.87,10517,10343,10285,10.24
4,Andorra,AND,SP.DYN.CBRT.IN,NaN,2024-09-11 00:00:00,11,2024-06-11 00:00:00,2024-05-12 00:00:00,2024-09-11 00:00:00,2024-09-11 00:00:00,...,2024-05-09 00:00:00,NaN,NaN,NaN,2024-08-08 00:00:00,NaN,2024-02-07 00:00:00,7,NaN,NaN