In [1]:
import numpy as np  
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
import plotly_express as px
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import plotly.graph_objects as go
from wordcloud import WordCloud, STOPWORDS
from PIL import Image
from ipywidgets import widgets, interactive
sns.set_style("white")

In [2]:
df1= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombreCodeNatilidad ES') #Es natilidad, fue un error, pero dejarlo así

df2= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombresCode ES')

df3= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombresBanderaCode EN')

df4= pd.read_excel('birthRate.xlsx',
                      sheet_name='NombreCodeGDP')

print ('Data read into a pandas dataframes!')

Data read into a pandas dataframes!

In [3]:
df1.set_index('Country Code', inplace=True)
df2.set_index('Country Code', inplace=True)
df2.drop(['Region','Country Name'], axis=1, inplace=True)
df3.set_index('alpha-3', inplace=True)
df3.drop(['intermediate-region'], axis=1, inplace=True)

In [4]:
df_combined = pd.merge(df1, df3, how='inner', left_index=True, right_index=True)
df_combined = pd.merge(df_combined, df2, how='inner', left_index=True, right_index=True)
df_combined.rename(columns={'Country Name': 'Country Name ES'},inplace=True)
df_combined.rename(columns={'country': 'Country Name EN'},inplace=True)
df_combined.rename(columns={'images_file': 'Image File'},inplace=True)
df_combined.rename(columns={'image_url': 'Image URL'},inplace=True)
df_combined.rename(columns={'region': 'Region'},inplace=True)
df_combined.rename(columns={'sub-region': 'Sub Region'},inplace=True)
df_combined.rename(columns={'Income_Group': 'Income Group'},inplace=True)
column_b = df_combined.pop('Country Name EN')
df_combined.insert(0, 'Country Name EN', column_b)
df_combined.head()

,Country Name EN,Country Name ES,1985,1986,1987,1988,1989,1990,1991,1992,...,2019,2020,2021,2022,2023,Image File,Image URL,Region,Sub Region,Income Group
Country Code,,,,,,,,,,,,,,,,,,,,,
AFG,Afghanistan,Afganistán,50.553,50.728,50.845,50.980,51.162,51.423,51.788,51.948,...,36.466,36.051,35.842,NaN,NaN,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,Asia,Southern Asia,Países de ingreso bajo
AGO,Angola,Angola,52.136,52.190,52.146,51.973,51.699,51.344,50.926,50.374,...,39.725,39.271,38.809,NaN,NaN,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,Africa,Sub-Saharan Africa,Países de ingreso mediano bajo
ALB,Albania,Albania,26.297,25.935,25.685,25.364,24.860,24.415,23.723,23.145,...,10.343,10.285,10.240,NaN,NaN,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,Europe,Southern Europe,Ingreso mediano alto
AND,Andorra,Andorra,NaN,11.900,11.000,11.600,12.500,11.900,11.900,12.100,...,7.000,NaN,NaN,NaN,NaN,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,Europe,Southern Europe,Ingreso alto
ARE,United Arab Emirates,Emiratos Árabes Unidos,29.488,29.651,28.411,27.396,26.618,25.923,24.574,23.839,...,9.750,10.620,10.307,NaN,NaN,Flag_of_the_United_Arab_Emirates.svg,https://upload.wikimedia.org/wikipedia/commons...,Asia,Western Asia,Ingreso alto

In [5]:
df_GDP = df4.pivot_table(index='Country Code', columns='year', values='GDP_USD', aggfunc='first')
df_GDPPC = df4.pivot_table(index='Country Code', columns='year', values='GDP_per_capita_USD', aggfunc='first')
df_GDP.head()

year,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,4.055866e+08,4.877095e+08,5.966480e+08,6.955307e+08,7.648045e+08,8.720670e+08,9.586592e+08,1.083240e+09,1.245810e+09,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
AFE,1.362970e+11,1.525180e+11,1.861450e+11,2.041400e+11,2.175390e+11,2.532240e+11,2.734030e+11,2.382550e+11,2.365270e+11,2.401200e+11,...,9.730430e+11,9.839370e+11,1.003680e+12,9.242530e+11,8.823550e+11,1.020650e+12,9.910220e+11,9.975340e+11,9.216460e+11,1.082100e+12
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
AFW,1.165070e+11,1.074980e+11,1.103220e+11,1.089430e+11,1.017690e+11,1.218020e+11,1.174570e+11,1.182820e+11,9.882637e+10,8.628174e+10,...,7.275700e+11,8.207930e+11,8.649900e+11,7.607340e+11,6.905460e+11,6.837490e+11,7.416900e+11,7.945430e+11,7.844460e+11,8.358080e+11
AGO,7.553560e+09,7.072063e+09,8.083872e+09,8.769251e+09,1.020110e+10,1.122876e+10,1.060378e+10,8.307811e+09,5.768720e+09,4.438321e+09,...,1.249980e+11,1.334020e+11,1.372440e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10

In [6]:
df_GDPPC.head()

year,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,6.474365e+09,7.886890e+09,9.769584e+09,1.139598e+09,1.230539e+09,1.349469e+09,1.404835e+09,1.494227e+09,1.624158e+09,...,2.549684e+09,2.644243e+08,2.689506e+09,2.839905e+09,2.845372e+09,2.934842e+09,3.025371e+09,3.113588e+09,2.338430e+09,NaN
AFE,5.179229e+09,5.626942e+09,6.667441e+09,7.099917e+09,7.348665e+09,8.312020e+09,8.723913e+09,7.393037e+09,7.140099e+09,7.054473e+09,...,1.777304e+08,1.748906e+09,1.736242e+08,1.556316e+09,1.446534e+09,1.629404e+09,1.541032e+09,1.511309e+09,1.360879e+09,1.557723e+09
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.388459e+09,6.243155e+09,6.142233e+09,5.560072e+09,5.120128e+09,5.166799e+09,4.856684e+09,4.941793e+09,5.167479e+09,NaN
AFW,6.515100e+09,5.849073e+09,5.841193e+09,5.613615e+09,5.104191e+09,5.947257e+09,5.584358e+09,5.476629e+09,4.456560e+09,3.789404e+09,...,1.965116e+08,2.157495e+09,2.212914e+09,1.894322e+09,1.673844e+09,1.613490e+09,1.704136e+09,1.777853e+09,1.709764e+09,1.774921e+09
AGO,7.582379e+09,6.852698e+09,7.562621e+09,7.923030e+09,8.905536e+09,9.477043e+09,8.656927e+09,6.563620e+09,4.412008e+08,3.286731e+09,...,4.978434e+09,5.127717e+09,5.094112e+09,3.127891e+09,1.728024e+09,2.313221e+09,2.524942e+09,2.177799e+09,1.631432e+09,2.137909e+09

In [7]:
df_test = df_GDP.loc[['CHL']]
df_test
df_test2 = df_combined.loc[["CHL"]]

In [8]:
df_test.head()

year,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CHL,1.770289e+10,1.889105e+10,2.225541e+10,2.604023e+10,2.988569e+10,3.311389e+10,3.783479e+10,4.596433e+10,4.929777e+10,5.700843e+10,...,2.671760e+11,2.772390e+11,2.594050e+11,2.424970e+11,2.492990e+11,2.763650e+11,2.954030e+11,2.785850e+11,2.527270e+11,3.170590e+11

In [9]:
df_test2.drop(['Country Name EN','Country Name ES', '2022', '2023', 'Image File', 'Image URL', 'Region', 'Sub Region', 'Income Group'], axis=1, inplace=True)
df_test2.head()

,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CHL,22.521,22.53,22.527,22.473,22.39,22.19,21.866,21.048,20.503,19.918,...,13.857,13.697,13.545,13.211,12.7,12.13,11.94,11.855,11.834,11.788

In [13]:
df_test.transpose()
df_test2.transpose()
df_test3 = pd.concat([df_test, df_test2])
# Hay que cambiar los nombres de las columnas, pero fuera de eso está de pana, creo
# Igualmente, para Chile no hay datos desde el 85
df_test3.transpose()

Country Code           CHL     CHL
1985          1.770289e+10     NaN
1986          1.889105e+10     NaN
1987          2.225541e+10     NaN
1988          2.604023e+10     NaN
1989          2.988569e+10     NaN
...                    ...     ...
2017                   NaN  12.130
2018                   NaN  11.940
2019                   NaN  11.855
2020                   NaN  11.834
2021                   NaN  11.788

[74 rows x 2 columns]

,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CHL,1.770289e+10,1.889105e+10,2.225541e+10,2.604023e+10,2.988569e+10,3.311389e+10,3.783479e+10,4.596433e+10,4.929777e+10,5.700843e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.857,13.697,13.545,13.211,12.7,12.13,11.94,11.855,11.834,11.788